.create-user_select_wrap {
  position: relative;
  font-size: 20px;
}

.create-user_select_value {
  cursor: pointer;  
  margin-top: 36px;
  width: 100%;
  padding-bottom: 13px;
  background-color: transparent;
  background-position: right 10px bottom 13px;
  background-repeat: no-repeat;
  border-color: black;
  border-style: solid;
  border-width: 0 0 2px 0;
  &.-filled {
    background-image: url("./assets/icons/input_valid.svg") !important;
    border-color:$blue;
    color: $blue;
  }
  &.-empty {
    color: rgba(0,0,0,0.65);
  }
}

.create-user_select_list {
    position: absolute;
    left: 0;
    top:100%;
    display: none;
    background-color: #F7F7F7;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.1);
    @include font-18px;
    width: 100%;
    li {
        padding: 11px 5px;
        cursor: pointer;
        &:hover {
            background-color: #EEECEF;
        }
    }
    &.-open {
        display: flex;
        flex-direction: column;
        z-index: 8;
    }
}

.create-user_checkbox {
  margin-top: 30px;
  span {
    order:1;
    margin-left: 15px;
    margin-right: 0;
  }
}

.create-user_btn-submit {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 50px;
  @include font-18px;
  border-width: 1px;
  font-weight: normal;
  text-transform: uppercase;
}