.login_container {
  margin: 190px auto 0;
  max-width: 442px;
}

.login_heading {
  margin-bottom: 61px;
  @include font-30px;
  font-family: "Radikal Medium";
}

.login_form {
  width: 100%;
}

.login_input {
  width: 100%;
  margin-top: 56px;
}

.login_text {
  @include font-20px;
}

.login_btn-restore {
  display: block;
  max-width: 160px;
  margin-top: 42px;
  margin-left: auto;
  @include font-18px;
  letter-spacing: 1px;
  text-decoration: underline;
  cursor: pointer;
}

.login_btn-confirm {
  margin-top: 30px;
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  @include font-18px;
  letter-spacing: 3px;
}