.settings_section {
  width: 100%;
  max-width: 930px;
  margin-top: 24px;
}

.settings_section_head {
  display: flex;
  justify-content: space-between;
}

.settings_section_head_link {
  width: 80px;
  height: 30px;
  padding: 0 12px 0 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.settings_section_head_title {
  @include font-26px;
  font-weight: bold;
}

.settings_section_table {
  margin-top: 39px;
  width: 100%;
  border: 1px solid rgba(155, 155, 155, 0.1);
  table-layout: auto;
}

.settings_section_table_row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  th,
  td {
    display: flex;
    align-items: center;
    height: 56px;
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
  }
  th {
    @include font-18px;
    border-bottom: 1px solid rgba(155, 155, 155, 0.1);    
  }
  td {
    @include font-18px;
  }
}

.settings_section_form {
  margin-top: 26px;
  max-width: 442px;
}

.settings_input {
  margin-top: 35px;
}

@import "./UserManagement/UserManagement";
@import "./CreateUser/CreateUser";
@import "./AccessControl/AccessControl"
