.access-control_table_row {
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  &:not(:last-child) {
    border-bottom: 1px solid rgba(155, 155, 155, 0.1);
  }
}

.access-control_cards_wrap {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  grid-gap: 30px;
}

.access-control_card {
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
}

.access-control_card_head {
  padding: 36px 30px 0;
  height: 130px;
  cursor: pointer;
  &:hover {
    .access-control_card_head_title::after {
      border-color: $blue transparent transparent transparent;
    }
  }
}

.access-control_card_head_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include font-30px;
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: black transparent transparent transparent;
    will-change: transform;
    transition: transform 0.3s;
  }
}

.access-control_card.-open {
  .access-control_card_head_title::after {
    border-color: $blue transparent transparent transparent;
    transform: rotate(180deg);
  }
}

.access-control_card_list_item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 23px 16px;
  @include font-20px;
  cursor: pointer;
  &::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent black;
  }
  &:hover {
    background-color: #f7f7f7;
    &::after {
      border-color: transparent transparent transparent $blue;
    }
  }
}

.access-control_card_sublist {
  display: none;
  position: absolute;
  z-index: 3;
  left: 100%;
  top: 0;
  width: 226px;
  background-color: white;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  li {
    padding: 18px 23px 16px;
    width: 100%;
    &:first-child {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        right: 100%;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 8px 10px 0;
        border-color: transparent white transparent transparent;
      }
    }
  }
}

.access-control_card_checkbox {
  & > label {
    justify-content: space-between;
  }
}

.access-control_card_list_item:hover {
  .access-control_card_sublist {
    display: block;
  }
}
