.card_wrap {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 392px;
  padding: 36px 30px 29px;
  background-color: white;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.1);
  }
  &.-unreadable {
    opacity: 0.3;
    pointer-events: none;
  }
}

.card_actions_wrap {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  opacity: 0;
  transition: all 0.2s;
}

.card:hover .card_actions_wrap {
 opacity: 1;
}

.card_action {
  margin-left: 15px;
  transition: all 0.3s;
  height: 20px;
  width: 20px;
}

.card_title {
  font-family: "Radikal Medium";
  font-weight: 500;
  width: 100%;
  @include font-30px;
}

.card_group {
  display: block;
  margin-top: auto;
  color: $black-faded;
  font-weight: 400;
  @include font-20px;
}
