.cards-feed_wrap {
  margin-bottom: 71px;
}

.cards-feed {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 288px));
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  @supports not (display: grid) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .card {
      margin-top: 20px;
    }
  }
}

.card-adder {
  width: 288px;
  height: 392px;
  border: 1px dashed $blue-pale;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include font-30px;
  font-weight: 500;
  font-family: "Roboto Medium";
  margin-bottom: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.2s;
  img {
	  transition: filter 0.2s;
  }
  &:hover {
	  background-color: $blue;
	  color: white;
	  border: none;
	  img {
		  filter: brightness(0) invert(1);
	  }
  }
}

.add-card_form {
  display: flex;
  flex-wrap: wrap;
}

.add-card_input {
  margin-top: 37px;
}

@import "./Card";
