.u-mng_menu_trigger {
    position: relative;
    overflow: visible;
    cursor: pointer;
    &:hover {
        background-color: #EEECEF;
    }
}

.u-mng_menu_list {
    position: absolute;
    left: 0;
    top:calc(100% - 20px);
    display: none;
    background-color: #F7F7F7;
    box-shadow: 0 6px 15px 0 rgba(0,0,0,0.1);
    @include font-16px;
    width: 100%;
    li {
        padding: 11px 18px;
        cursor: pointer;
        &:hover {
            background-color: #EEECEF;
        }
    }
    &.-open {
        display: flex;
        flex-direction: column;
        z-index: 8;
    }
}