.article_editor_wrap {
  margin-top: 30px;
  padding-left: 40px;
  min-height: 500px;
  max-height: 700px;
  width: 756px;
}

.article_editor_btn {
  display: inline-block;
  margin-top: 40px;
  height: 50px;
  width: 190px;
  @include font-18px;
  &:last-child{
    margin-left: 15px;
  }
}

.ql-editor {
  height: 500px;
  max-width: 100%;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}