.article_content {
  margin-top: 30px;
  padding-bottom: 30px;
  width: 765px;
  h1 {
    @include font-26px;
  }
  h2 {
    @include font-20px;
  }
  ul {
    list-style: disc inside;
  }
  ol {
    list-style: decimal inside;
  }
  &.ql-editor {
    height: auto;
    overflow-y: visible;
  }
}


.article_edit-btn {
  position: fixed;
  bottom: 40px;
  right: 15px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: $blue;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(40,188,255,0.4);
  img {
    width: 22px;
    height: 22px;
  }
  &:hover {
    transform: translateY(1px);
  }
}