.article_menu_list {
  counter-reset: sections;
}

.article_menu_list_section {
  &:before {
    counter-increment: sections;
    content: counter(sections) ".";
    display: inline-block;
    min-width: 15px;
    margin-right: 10px;
  }
}