@font-face {
  font-family: "Radikal Regular";
  src: url("./assets/fonts/Radikal Regular.otf");
}

@font-face {
  font-family: "Radikal Medium";
  src: url("./assets/fonts/Radikal Medium.otf");
}

@font-face {
  font-family: "Radikal Italic";
  src: url("./assets/fonts/Radikal Black italic.otf");
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("/assets/fonts/Roboto-LightItalic.ttf");
}

@mixin font-16px{
  font-size: 16px;
  line-height: 16px;
}

@mixin font-18px{
  font-size: 18px;
  line-height: 18px;
}

@mixin font-20px {
  font-size: 20px;
  line-height: 27px;
}

@mixin font-26px {
  font-size: 26px;
  line-height: 26px;
}

@mixin font-30px {
  font-size: 30px;
  line-height: 30px;
}