.header_menu_wrap {
  position: relative;
  margin-left: auto;
}

.header_menu_label {
  display: flex;
  align-items: center;
  cursor: pointer;
  @include font-18px;
  img {
    margin-left: 12px;
    height: 5px;
    width: 10px;
  }
}

.header_menu {
  position: absolute;
  z-index: 9;
  right: 0;
  top: 100%;
  min-width: 266px;
  padding: 18px 20px 20px;
  background-color: white;
  box-shadow: 0 6px 15px 0 rgba(0,0,0,0.1);
  @include font-20px;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s, padding 0.4s;
}

.header_menu_wrap:hover .header_menu {
  max-height: 500px;
  padding: 18px 20px 20px;   
}

.header_menu_name {
  font-family: "Roboto Medium";
}


.header_menu_email {
  color: $gray;
  &:after {
    content: "";
    display: block;
    margin-top: 16px;
    height: 2px;
    width: 39px;
    background-color: black;
  }
}

.header_menu_list {
  li {
    margin-top: 13px;
    cursor: pointer;
    &:hover{
      color: $blue;
    }
  }
}