.modal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  background-color: rgba(74,74,74,0.33);
}

.modal_wrap-active {
  display: flex;
}

.modal {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  padding: 39px 30px 50px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,0.5);
}


.modal_title {
  font-family: "Radikal Medium";
  font-weight: 500;
  @include font-26px;
  width: 100%;
}

.modal_btn {
  display: block;
  margin-top: 29px;
  margin-left: auto;
  height: 50px;
  width: 190px;
  &:first-of-type {
    margin-right: 20px;
  }
}