.page {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-x: visible;
  display: grid;
  grid-template-columns: 329px auto;
}

.cont-zone-page {
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    left: -80px;
    content: "";
    display: block;
    width: 400px;
    height: 100%;
    background-color: $blue-dark;
  }
}

.page_content_wrap {
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 70px;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.page_upper-row {
  height: 36px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.page_back-btn {
  cursor: pointer;
  @include font-18px;
  background: none;
  border: none;
  &:hover {
	  color: $blue;
  }
}

.page_menu {
  padding-top: 30px;
  padding-right: 10px;
  grid-column: 1;
  position: relative;
  height: 100%;
  background-color: $blue-dark;
  color: white;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
}

.page_menu_title {
  @include font-26px;
  font-family: "Radikal Regular";
}

.page_menu_list {
  margin-top: 30px;
  li {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.page_menu_list_section {
  margin-top: 24px;
  @include font-20px;
}

.page_menu_list_sublist {
  margin-left: 50px;
}

.page_menu_list_subsection {
  margin-top: 15px;
  @include font-20px;
}