@import "scss/general/colors";
@import "scss/general/fonts";

@import "../node_modules/react-quill/dist/quill.snow.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  font-size: 18px;
  font-family: "Roboto Regular";
  color: black;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

a {
  text-decoration: none;
  color: unset;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

.no-scroll {
  overflow: hidden;
}

.faded-text {
  color: $black-faded;
}

.big-header {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: 25px;
  width: 100%;
}

.big-header_logo {
  height: 21px;
  width: 108px;
}

.btn-general {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 6px 6px 6px 0;
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  color: black;
  transition: all 0.3s;
  p {
    flex-shrink: 0;
    flex-basis: auto;
    @include font-18px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
}

.btn-confirm {
  &:hover {
    border-color: $blue;
    color: $blue;
  }
}

.btn-confirm-visible {
  border-color: $blue;
  color: $blue;
  &:hover {
	  background-color: $blue;
	  color: white;
  }
}

.btn-cancel {
  &:hover {
    border-color: $red;
    color: $red;
  }
}

.btn-cancel-visible {
  border-color: $red;
  color: $red;
}

.cont-zone {
  margin: 0 auto;
  width: calc(100vw - 100px);
}

.input-general {
  @include font-20px;
  width: 100%;
  padding-bottom: 13px;
  background-color: transparent;
  background-position: right 10px bottom 13px;
  background-repeat: no-repeat;
  border-color: black;
  border-style: solid;
  border-width: 0 0 2px 0;
  &:focus {
    border-color: $blue;
    color: $blue;
    outline: none;
  }
  &:valid {
    background-image: url("./assets/icons/input_valid.svg") !important;
    border-color: $blue;
    color: $blue;
  }
  &.-touched:required:invalid,
  &.invalid {
    background-image: url("./assets/icons/input_invalid.svg") !important;
    border-color: $red;
    color: $red;
  }
}

.input-general_with-error_wrap {
  position: relative;
}

.input-general_error {
  width: 100%;
  text-align: right;
  margin-top: 15px;
  display: none;
  position: absolute;
  color: $red;
  &.shown {
    display: block;
  }
}

.checkbox-general {
  & > input {
    display: none;
  }

  & > label {
    @include font-18px;
    display: flex;
    cursor: pointer;
    &:after {
      content: "";
      display: block;
      height: 20px;
      width: 20px;
      border: 1px solid black;
    }
    span {
      margin-right: 15px;
    }
    &:hover::after {
      border-color: $blue;
      outline-style: solid;
      outline-color: $blue;
      outline-width: 1px;
    }
  }

  & > input:checked + label:after {
    border-color: $blue;
    background-color: $blue;
    background-image: url("./assets/icons/input_valid-white.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@import "scss/general/Page";
@import "scss/general/Modal";
@import "scss/general/HeaderMenu";

@import "scss/components/Cards/CardsFeed";
@import "scss/components/Article/Article";
@import "scss/components/Login";
@import "scss/components/Settings";
